body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	min-height: 10vh;
	outline: 3px red solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 0;
}

main {
	width: 100%;
	min-height: 80vh;
	outline: 3px red solid;
	display: flex;
}

#sidebar {
	outline: 1px red solid;
	width: 20%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#projects-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	outline: 1px red solid;
	margin: 5%;
}

#add-project {
	width: 70%;
	margin: 5%;
	display: flex;
}

.project {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 0.1fr 0.1fr;
	margin-left: 5%;
	margin-top: 10%;
}

.btn {
	background-color: transparent;
	border: 0;
	font-size: 1rem;
	font-weight: 900;
}

.btn:hover {
	color: blue;
	cursor: pointer;
}

#todo-btn {
	position: absolute;
	right: 1.5%;
	top: 12%;
	font-size: 2rem;
}

.project-name {
	width: 75%;
	border: 0;
	border-bottom: 1px solid black;
	outline: none;

	transition: border-bottom 150ms ease-in;
}

.project-name:focus {
	border-bottom: 2px solid black;
}

.project-name:focus::placeholder {
	opacity: 0.2;
}

.edit-text {
	width: 75%;
	order: -1;
	z-index: 1;
}

#content {
	width: 80%;
	outline: 1px red solid;
}

.modal {
	position: fixed;
	max-width: 50%;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	outline: 1px red solid;
	padding: 3%;
	background-color: white;
}

#modal-form {
	display: flex;
	flex-direction: column;
}

#modal-exit {
	position: absolute;
	right: 5%;
	top: 5%;
}

.modal-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: black;
	opacity: 0.5;
}

.closed {
	display: none;
}

.todo-container {
	outline: 1px red solid;
	display: flex;
	position: relative;
	top: 10%;
	left: 20%;
	width: 50%;
	justify-content: space-between;
}

footer {
	width: 100%;
	min-height: 10vh;
	outline: 3px red solid;
}
